<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BARG</title>

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/stylesheets/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/dashboard.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]>
    <script src="/javascripts/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/javascripts/ie-emulation-modes-warning.js"></script>
    <style>
        #map {
            width: 100%;
            height: 600px;
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <div class="col-sm-1 col-sm-offset-1 col-md-10 col-md-offset-0 main">
            <h1 class="page-header">Tài xế</h1>
            <div class="row">
                <div class="form-info">
                    <span class="message"></span>
                    <form class="submit-function" name="submit-request">
                        <div class="form-group">
                            <label for="so-dien-thoai">Số điện thoại</label>
                            <input type="text" class="form-control" id="so-dien-thoai" placeholder="So dien thoai">
                        </div>
                        <div class="form-group">
                            <label for="dia-chi">Địa chỉ</label>
                            <input type="text" class="form-control" id="dia-chi" placeholder="Dia Chi">
                        </div>
                        <button type="submit" name="chap-nhan" class="btn btn-default has-disable chap-nhan" disabled>Chấp nhận</button>
                        <button type="submit" name="tu-choi" class="btn btn-default has-disable tu-choi" disabled>Từ chối</button>
                        <button type="submit" name="tu-choi" class="btn btn-default has-enable hoan-thanh" disabled>Hoàn thành chuyến đi</button>
                        <div id="map"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/javascripts/jquery-3.1.1.js"></script>

<script src="/javascripts/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="/javascripts/holder.min.js"></script>
<script src="/socket.io/socket.io.js"></script>

<script src="/javascripts/person.js"></script>
<script src="/javascripts/taixe.js"></script>
<script src="/javascripts/khachhang.js"></script>

<script src="/javascripts/quanly.js"></script>
<script type="text/javascript" src="//maps.google.com/maps/api/js?key=AIzaSyBncB2ICS1K_lnsE7HvyF6UngwpH-REnM4&amp;sensor=false"></script>
<script>
    var person;
    (function ($) {
        function TaiXe(data) {
            var self = this,
                socket = data._socket,
                clientId = null,
                khachhang = null,
                dienthoai = data.sdt;
            this.info = {};
            this.timeTrackLocation = null;
            this.cancelRequestTimeout = null;
            this.randomNumber = function () {
                return 1 + Math.floor(Math.random() * 130);
            };
            
            this.showMarker = function(data){
                self.hideMarker();
                khachhang = new Person(data);
                khachhang.initMarker();
            };
            this.initMap = function (options) {
                options = $.extend({}, {
                    zoom: 12,
                    center: {lat: 10.7588056, lng: 106.68393590000005}
                }, options);
                map = new google.maps.Map(document.getElementById('map'), options);
            };
            
            this.hideMarker = function(){
                if(khachhang) {
                    khachhang.hideOnMap();
                    khachhang = null;
                }
            }

            this.randomAddress = function () {
                return this.randomNumber() + " Nguyễn Văn Cừ, Quận 5, Thành phố Hồ Chí Minh";
            };
            
            this.locationCallback = function(position){
                if(undefined !== position){
                    socket.emit("taixe-capnhat-diachi", {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude,
                        id: self.info.id
                    });
                }
                self.trackLocation();
            };
            this.getLocation = function () {
                clearInterval(self.timeTrackLocation);
                self.timeTrackLocation = null;
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(self.locationCallback);
                }
            };

            this.trackLocation = function () {
                if (null === self.timeTrackLocation) {
                    console.log("Start Track");
                    var timeDelay = 5000;
                    self.timeTrackLocation = setInterval(self.getLocation, timeDelay);
                }
            };
            

            this.initSocketEvent = function () {                
                socket.emit('new-driver', {
                    diachi: this.randomAddress(),
                    sdt: dienthoai
                });
                
                socket.on('dang-nhap-thanh-cong', function(data){
                    self.info = data;
                });

                socket.on('submit-request', function (data) {
                    $('.message').html('');
                    self.clientId = data;
                    $('#so-dien-thoai').val(data.sdt);
                    $('#dia-chi').val(data.diachi);
                    $('form button.has-disable').prop('disabled', false);
                    data.address = data.diachi;
                    data.draggable = false;
                    self.showMarker(data);
                    alert("Bạn có khách, vui lòng chấp nhận hoặc từ chối. Sau 5 giây sẽ tự động từ chối khách");
                    self.cancelRequestTimeout = setTimeout(self.tuChoiKhach,5000);
                });

                $('.chap-nhan').click(function (e) {
                    e.preventDefault();
                    self.chapNhanKhach();
                });
                
                $('.tu-choi').click(function (e) {
                    e.preventDefault();
                    self.tuChoiKhach();
                });
                
                $('.hoan-thanh').click(function(e){
                    e.preventDefault();
                    self.hoanThanh();
                });
                this.trackLocation();
            };
            
            this.chapNhanKhach = function(){
                $('.message').html('Chap nhan khach');
                $('form button').prop('disabled', true);
                $('form button.has-enable').prop('disabled', false);
                if(this.cancelRequestTimeout) {
                    clearTimeout(self.cancelRequestTimeout);
                }
                if (socket) {
                    socket.emit('chap-nhan', $.extend({}, self.clientId, { sdtLaiXe: dienthoai }));
                }
            };
            
            this.hoanThanh = function(){
                $('.message').html('Hoan thanh chuyen di');
                if (socket) {
                    socket.emit('hoan-thanh', self.clientId);
                }
                $('form button').prop('disabled', true);
            }
            
            this.tuChoiKhach = function(){
                $('.message').html('Tu choi khach');
                $('form button').prop('disabled', true);
                if(this.cancelRequestTimeout) {
                    clearTimeout(self.cancelRequestTimeout);
                }
                if (socket) {
                    socket.emit('tu-choi', self.clientId);
                }
            };
        }
        
        
        $('#submit-request').submit(function (e) {
            e.preventDefault();
        });
        io = new io();
        var socket = io.connect('/');
        if (socket) {
            var person = null;
            while(person == null) {
                person = prompt("Vui lòng nhập số điện thoại");
                if (person != null) {
                    var taiXe = new TaiXe({sdt: person,_socket: socket});
                    taiXe.initMap();
                    taiXe.initSocketEvent();
                }
            }
        } else {
            alert("Không thể kết nối đến server vui lòng kiểm tra lại mạng");
        }
    })(jQuery);
</script>
</body>
</html>
